/* MOBIL */

#firstgrid {
  padding-top: 3rem;
}

blockquote {
  font-size: 40px;
  padding-top: 4rem;
}

.center1 {
  text-align: center;
  align-items: center;
}
.p1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
}

p {
  /* text-align: start; */
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

h2 {
  font-family: rubik one;
}

.button {
  display: inline-block;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 12px;
  text-align: center;
  font-family: albert sans;
  transition: background-color 0.3s ease; /* Smooth hover effect */
  margin-bottom: 5rem;
}

.button:hover {
  background-color: #3a2a4d;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
  align-self: center;
}

.stortxt {
  font-family: didot;
  font-size: 40px;
  line-height: 150%;
  padding-top: 4rem;
  padding-bottom: 3rem;
  text-align: center;
  color: var(--secondary);
}

.button2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: didot;
  text-align: center;
  z-index: 1;
  top: 50%; /* Move to center vertically */
  left: 50%; /* Move to center horizontally */
  background-color: var(--secondary);
  color: var(--primary);
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.image-container {
  position: relative; /* Establishes positioning context */
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  border-radius: 1rem;
  background-color: var(--secondary);
  border: solid var(--primary);
  color: var(--primary);
}

@media (min-width: 800px) {
  .none_to_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main {
    max-width: 1000px;
    margin: 0 auto;
  }

  .none_to_grid_1-1 {
    padding-bottom: 8rem;
    gap: 2rem;
  }

  #firstgrid {
    padding-top: 4rem;
  }

  .span_2c {
    grid-column: span 2;
  }

  blockquote {
    font-size: 40px;
    padding-top: 4rem;
    text-align: center;
  }

  .p1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
  }

  h2 {
    text-align: start;
    font-family: rubik one;
  }

  .button {
    display: inline-block;
    background-color: #4a326b;
    color: #ffffff;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 12px;
    text-align: center;
    font-family: albert sans;
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }

  .button:hover {
    background-color: #3a2a4d;
    cursor: pointer;
  }

  img {
    height: auto;
    width: 100%;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 2rem;
  }

  .stortxt {
    font-family: didot;
    font-size: 40px;
    text-align: center;
  }

  .button2 {
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: didot;
    text-align: center;
    z-index: 1;
    top: 50%; /* Move to center vertically */
    left: 50%; /* Move to center horizontally */
    background-color: #4a326b;
    color: #ffffff;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 12px;
  }

  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image-container img {
    display: inline-block;
    display: block;
    width: 100%;
    height: auto;
  }

  .hide_desktop {
    display: none;
  }
}
