/*----------OVERSKRIFT OG CTA-----------------*/

.overskrift_og_cta {
  margin: auto;
  text-align: center;
}

/*------------------------------------------Rene--------------*/
.rene {
  display: grid;
  grid-template-columns: 1fr;
}

.arbejder_med {
  /*----------Styling------*/

  color: beige;
  padding: 10px 10px 10px 10px;
  /*-----Placering-------*/
  text-align: center;
}

.rene_CTA {
  background-color: #800080;
  color: beige;
  margin-top: 10px;
  text-decoration: none;
}

/*------------------------------------------Kirsten--------------*/
