* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* -----------FONT FACE START --------------*/
@font-face {
  font-family: "didotbold";
  src: url("../font/didot_bold-webfont.woff2") format("woff2"),
    url("../font/didot_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "didotitalic";
  src: url("../font/didot_italic-webfont.woff2") format("woff2"),
    url("../font/didot_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "didot_titleregular";
  src: url("../font/didot_title-webfont.woff2") format("woff2"),
    url("../font/didot_title-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "didotregular";
  src: url("../font/didot-webfont.woff2") format("woff2"),
    url("../font/didot-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ----------- VARIABLE --------------*/
:root {
  /* Primære farve til hele sitet */
  --primary: #f9f5ea;

  /* Sekundære farve til hele sitet */
  --secondary: #4a326b;

  /* Kontrast/tertiær farve til hele sitet */
  --contrast: #c5baaa;

  /* Primær font (BOLD) */
  --bold_main_font: "didotbold", sans-serif;

  /* Primær font */
  --main_font: "didotregular", sans-serif;

  /* Brødtekst font */
  --txt_font: "Albert Sans", sans-serif;
}
/* -----------FONT --------------*/
h1 {
  font-family: var(--bold_title);
}

h2 {
  font-family: var(--bold_main_font);
}

h3 {
  font-family: var(--txt_font);
}

p {
  font-family: var(--txt_font);
}

a {
  font-family: var(--bold_main_font);
  text-decoration: none;
}

li {
  font-family: var(--txt_font);
}

blockquote {
  font-family: var(--main_font);
}

footer p {
  font-family: var(--main_font);
}
/*---------- FARVER ----------*/

body {
  background-color: var(--primary);
}

/*---------- KONTAKTFORMULAR ----------*/
.kontaktform {
  display: grid;
  gap: 1rem;
}

form {
  display: grid;
  gap: 15vw;
}

/*---------- BAGGRUNDSFARVER ----------*/
.bg_color1 {
  background-color: var(--primary);
}

.bg_color2 {
  background-color: var(--secondary);
}

.bg_color3 {
  background-color: var(--contrast);
}

/*---------- MEDIA QUERY ----------  */
@media (min-width: 800px) {
  .none_to_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
