* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* -----------FONT FACE START --------------*/
@font-face {
  font-family: "didotbold";
  src: url("../font/didot_bold-webfont.woff2") format("woff2"),
    url("../font/didot_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "didotitalic";
  src: url("../font/didot_italic-webfont.woff2") format("woff2"),
    url("../font/didot_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "didot_titleregular";
  src: url("../font/didot_title-webfont.woff2") format("woff2"),
    url("../font/didot_title-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "didotregular";
  src: url("../font/didot-webfont.woff2") format("woff2"),
    url("../font/didot-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ----------- VARIABLE --------------*/
:root {
  /* Primære farve til hele sitet */
  --primary: #f9f5ea;

  /* Sekundære farve til hele sitet */
  --secondary: #4a326b;

  /* Kontrast/tertiær farve til hele sitet */
  --contrast: #c5baaa;

  /* Primær font */
  --main_font: "didotregular", sans-serif;

  /* Brødtekst font */
  --txt_font: "Albert Sans", sans-serif;

  /* Brødtekst farve  */
  --txt_color: #333333;
}

/* -----------FONT --------------*/
h1 {
  font-family: var(--main_font);
  color: var(--secondary);
  font-weight: 800;
}

h2 {
  font-family: var(--main_font);
  color: var(--secondary);
  font-weight: 600;
}

h3 {
  font-family: var(--txt_font);
  color: var(--txt_color);
}

p {
  font-family: var(--txt_font);
  color: var(--txt_color);
}

a {
  font-family: var(--main_font);
  text-decoration: none;
  color: var(--txt_color);
  font-weight: 600;
}

li {
  font-family: var(--txt_font);
  color: var(--txt_color);
}

blockquote {
  font-family: var(--main_font);
  color: var(--secondary);
  font-weight: 800;
}

summary {
  font-family: var(--main_font);
  color: var(--secondary);
  font-weight: 600;
}

footer p {
  font-family: var(--main_font);
  color: var(--contrast);
  font-weight: 600;
}

/*---------- BAGGRUNDSFARVER ----------*/
.bg_color1 {
  background-color: var(--primary);
}

.bg_color2 {
  background-color: var(--secondary);
}

.bg_color3 {
  background-color: var(--contrast);
}

/*---------- BURGER MENU ----------*/
.menu {
  display: none;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-top: 40px;
}

.burger .line {
  width: 100%;
  border-bottom: 3px solid var(--secondary);
  margin-bottom: 5px;
  transition: 200ms linear;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 200ms linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 150ms linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 200ms linear;
}

nav.active .menu {
  display: block;
  background-color: var(--contrast);
  position: absolute;
  top: 50px;
  right: 0;
  width: 25%;
  min-width: 25ch;
  box-shadow: -3px 7px 15px var(--secondary);
  z-index: 1;
}

nav.active .menu li {
  margin: 10px 20px;
}

nav.active .menu a {
  font-size: 1.5rem;
}

/*---------- KONTAKTFORMULAR ----------*/
.kontaktform {
  display: grid;
  width: 45vw;
  border: var(--contrast) solid 2px;
  min-width: 50ch;
}

#fnavn,
#email {
  width: 35%;
  margin: 5px 3px;
  padding: 3px 4px;
  background-color: var(--contrast);
  border: var(--txt_color) solid 1px;
  max-width: 150px;
}

legend {
  font-family: var(--main_font);
  color: var(--contrast);
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 3px;
  padding-inline: 3px;
}

#besked {
  width: 85%;
  height: 15cqw;
  margin: 5px 3px 0px 3px;
  padding: 3px 4px;
  background-color: var(--contrast);
  border: var(--txt_color) solid 1px;
  max-height: 120px;
}

#submit {
  width: 15%;
  margin: 1px 0 5px 3px;
  font-family: var(--txt_font);
  font-weight: 600;
  color: var(--txt_color);
  background-color: var(--contrast);
  border: var(--txt_color) solid 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 3px;
}

#submit:hover {
  background-color: var(--secondary);
  border-color: var(--contrast);
  color: var(--primary);
}

input::placeholder,
#besked::placeholder {
  font-family: var(--txt_font);
  font-weight: 600;
  color: var(--txt_color);
  opacity: 60%;
}

/*---------- HEADER ----------*/
nav {
  display: flex;
  justify-content: space-between;
}

.menu a {
  display: block;
  position: relative;
  color: var(--txt_color);
  font-family: var(--main_font);
  text-decoration: none;
  text-align: end;
}

.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--secondary);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.menu li {
  margin: 0 1rem;
  list-style: none;
}

.menu li a {
  overflow: hidden;
}

.menu li a::after {
  opacity: 1;
  transform: translate3d(-101%, 0, 0);
}

.menu li a:hover::after,
.menu li a:focus::after {
  transform: translate3d(0, 0, 0);
}

/*---------- FOOTER ----------*/
footer {
  display: grid;
  background-color: var(--secondary);
  padding: 3vw 3vw;
  margin-top: 2vw;
  margin-inline: auto;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  border-bottom: var(--txt_color) solid 3px;
  padding: 5px 50px;
  max-width: 50ch;
}

footer p,
footer form {
  margin-inline: auto;
}

/*---------- LAYOUT ----------*/
main {
  max-width: 70vw;
  margin: 5cqw auto;
  position: relative;
  min-height: 70vh;
}

header {
  border-bottom: solid var(--secondary) 2px;
  padding-block: 15px;
  width: 90%;
  margin-inline: auto;
  position: sticky;
  top: 0;
  background-color: var(--primary);
  z-index: 1;
}

.logo {
  margin-top: 15px;
  height: 60px;
}

/*---------- FARVER ----------*/

body {
  background-color: var(--primary);
}

.kontakt {
  background-color: var(--secondary);
  color: var(--primary);
  font-family: var(--txt_font);
  font-weight: 500;
  letter-spacing: 1px;
  padding: 3px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 3px;
}

/*---------- MEDIA QUERY ----------  */
@media (min-width: 800px) {
  .none_to_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer p {
    border: none;
    padding: none;
    margin-left: 0;
  }
}

@media (min-width: 1300px) {
  main {
    max-width: 1000px;
  }
}
