:root {
  /* Primære farve til hele sitet */
  --primary: color;

  /* Sekundære farve til hele sitet */
  --secondary: color;

  /* Kontrast/tertiær farve til hele sitet */
  --contrast: color;
}
/* -----------Skrifter --------------*/
h1 {
  font-family: ;
}

h2 {
  font-family: ;
}

h3 {
  font-family: ;
}

p {
  font-family: ;
}

a {
  font-family: ;
  text-decoration: none;
}
/*---------- FARVER ----------*/

body {
  background-color: ;
}

/*---------- KONTAKTFORMULAR START ----------*/
.kontaktform {
  display: grid;
  gap: 1rem;
}

form {
  display: grid;
  gap: 15vw;
}

/*---------- KONTAKTFORMULAR SLUT ----------*/
