.ydelser {
  display: grid;
  gap: 12px;
}

details p,
details a,
details blockquote {
  color: var(--primary);
  padding: 1vw;
}

/*-------------------------------------------HERO--------------------------------------------*/
.ydelser_hero {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  text-align: center;

  margin-top: 70px;
  margin-bottom: 70px;
}
.ydelser_hero h1 {
  padding-top: 12.5%;
}

.ydelser_hero img {
  border-radius: 20px;
}
/*-------------------------------------------bg_color2--------------------------------------------*/
.bg_color2 {
  color: var(--primary);
  padding: 1vw;
  border-radius: 20px;
  margin: 1.5rem;
}

summary {
  color: var(--primary);
  padding: 1vw;
  text-align: center;
  font-size: 30px;
}

blockquote {
  font-size: 2em;
  margin: 5vw 0;
  text-align: center;
}
.span_2r {
  object-fit: cover;
  padding: 0px 0px 20px 0px;
}

.none_to_grid_1-1_text {
  margin: 0px 10px 50px 10px;
}

.bg_color1 {
  border-radius: 20px;
  padding: 10px 25px 10px 25px;
}

.bg_color1 h2 {
  text-align: center;
  font-size: 2em;
  padding: 20px 0px 20px 0px;
}

.kontakt_ydelser {
  background-color: var(--secondary);
  display: grid;
  margin: 30px auto;
  padding: 20px 0px 20px 0px;
  border-radius: 20px;
  text-decoration: none;
  justify-content: center;
}
.cirkler {
  width: auto;
  padding: 0;
}

.hjerne {
  width: 75%;
}

@media (min-width: 800px) {
  .ydelser_hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    text-align: center;
    margin: 100px 0px 100px auto;
  }

  .hands {
    padding-top: 5vw;
  }

  .hjerne {
    width: 90%;
    padding-top: 8cqw;
  }

  .none_to_grid_1-1_text {
    margin: 0px 80px 90px 80px;
  }
}
